.container {
    padding-bottom: 20px;
}


.list {
    display: grid;
    /* grid-template-columns: repeat(4, 360px); */
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 22px;
}