.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.logo {
    margin-bottom: 40px;
}

.logo span {
    color: var(--clr-accent);
}

.register_link {
    font-size: 14px;
    color: #0000FF;
}

.register_link:hover {
    color: #0066CC;
    text-decoration: underline;

}