.container {
    padding-block: 30px;
}

.back_button {
    margin-bottom: 20px;
}

.ticket_info{
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
}

.greenText {
    font-weight: 500;
    color: rgb(14, 199, 14);
}

.redText {
    font-weight: 500;
    color: #f14b4b;
}